.Homepage {
  margin-left: auto;
  margin-right: auto
}

.Homepage-box {
  background-color: rgb(200, 245, 218);
  border-radius: 1em;
  padding: 0.7em;
  margin-bottom: 50px;
}

.Homepage-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
font-size: 0.9em;
}
